{% extends 'base.html' %}
{% block header %}
<h1>Cart</h1>
{% endblock header %}
{% block content %}

<div class="cart-items">

{% for item in items %}
<!-- {{item.crt_id}} -->
<article class="item">
    <header>
        <h2>{{item.prd_name}}</h2>
    </header>
    <div class="body">
        <div class="item-category-pill">{{item.prd_category}}</div>
        <p>{{item.prd_amount}}</p>
        <p>${{item.prd_price}}</p>
        <div>
            <input onchange="setCartItemQty({{item.prd_id}}, $('#crt-item-{{item.prd_id}}').val());" class="item-qty-ctr" id="crt-item-{{ item.prd_id }}" type="number" min="1" value="{{item.prd_amount}}"/>
        </div>
        <div>
            <button onclick="removeFromCart({{item.crt_id}})" type="button">Remove from Cart</button>
        </div>
    </div>
</article>
{% endfor %}

</div>

<div style="display: flex; flex-flow: column nowrap; align-content:center; justify-content:center; align-items:center;">
    <h2 style="text-align:center;">Cart Total</h2>
    <div style="width:50%;">
        <p>${{cartTotal}}</p>
    </div>
</div>

<div>
    <div style="display: flex; flex-direction: row; align-content:center; justify-content:center; align-items:center;">
        <button>Checkout</button>
    </div>
</div>

{% endblock content %}