{% extends 'base.html' %}
{% block header %}
<h1>Cart</h1>
{% endblock header %}
{% block content %}

<div class="cart-items">

{% for item in items %}
<article class="item">
    <header>
        <h2>{{item.prd_name}}</h2>
    </header>
    <div class="body">
        <p>{{item.prd_price}}</p>
        <p>{{item.prd_amount}}</p>
        add control for changing item amount
    </div>
</article>
{% endfor %}

</div>
<div>
    <div style="display: flex; flex-direction: row">
        <button>Checkout</button>
    </div>
</div>

{% endblock content %}