{% extends 'base.html' %}
{% block header %}
<h1>{{ product.prd_name }}</h1>
{% endblock header %}
{% block content %}
<div>
    <div>
        <img src="#" alt="pic" />
    </div>
    <div>
        <p>{{ product.prd_category }} {{ product.prd_price }}</p>
    </div>
    <div>
        <input id="nbr-prd-amt" type="number" min="1" max="5" value="1"/>
    </div>
</div>
<div>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content:center;">
        <button onclick="addToCart({{ product.prd_id }}, $('#nbr-prd-amt').val())" type="button">Add to Cart</button>
    </div>
</div>

    link the category to show all products in that category
{% endblock content %}